.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.rdb
dump.rdb
/public/upload/
dump.rdb
conf/db.js
/ssl/
/ssl/2875131_guoyuchen.cn.key
/ssl/2875131_guoyuchen.cn.pem
src/conf/db.js
