<!DOCTYPE html>
<html lang="zh_CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>惊喜</title>
</head>

<body>

</body>

</html>
<script>
    alert("我有一件事想给你说");
    alert("自从第一次遇见你，我便对你难以忘怀了！");
    alert('我喜欢上你了，希望你可以接受我的爱意');
    var res = false;
    do {
        res = confirm('2020，我们一起过');
        if(!res){
            alert('在考虑下呗');
        }
    } while (!res);
    alert('爱你')
</script>